body {
  font-size: 16px;
}

.hidden-element {
  visibility: hidden;
  font-size: 0;
}

h1.logo,
h2 {
  color: #31BBD5;
  font-family: sans-serif;
  font-size: 1.9rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}