<section class="form-wrapper container">
	<div class="form-inner container">
		<form class="container">
			<input ng-model="userInfo.firstName" type="text" placeholder="First Name">
			<input ng-model="userInfo.lastName" type="text" placeholder="Last Name">
			<input ng-model="userInfo.username" type="text" placeholder="Email">
			<input ng-model="userInfo.password" type="password" placeholder="Password">
			<div class="button-auth" ui-sref="dashboard" ng-click="registerUser(userInfo)">Register</div>
			<a ui-sref="login">Or login here</a>
			<a ui-sref="welcome">Go Home</a>
		</form>
	</div>
</section>